<div>
  <div style="box-shadow: 0px 10px 10px -15px #111;">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1547891654-e66ed7ebb968?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
      <div class="container text-center">
        <h1>Rent and lend easy, from the confort of your house!</h1>
        <p>Connect you to the best around you, so you're able to give a new look to your place at anytime you want!</p>
        <h1>Rent and lend easy from the comfort of your home!</h1>
        <p>We connect you to the best in the area, so you can give a new look to your place anytime you want!</p>
        <a class="btn btn-success" href="/items">Join now</a>
      </div>
    </div>

    <div class="container d-flex" style="justify-content:space-between;">
      <div style="width:350px;margin-left:50px;">
        <h3>Make your next event interesting</h3>
        <p>Make your next event awesome and interesting by renting art and make your friend go wow!</p>
      </div>

      <div style="width:350px">
        <h3>Make your next event interesting</h3>
        <p>Make your next event awesome and interesting by renting art and make your friend go wow!</p>
      </div>

      <div style="width:350px;margin-right:50px;">
        <h3>Make your next event interesting</h3>
        <p>Make your next event awesome and interesting by renting art and make your friend go wow!Have some art pieces but don't have space at your house?</p>
      </div>
    </div>
  </div>
      <div style="width:350px;margin-left:30px;">
        <h3>Spruce up your next event</h3>
        <p>Rent art to decorate your event and turn it into a memorable occasion for all attendees!</p>
      </div>

      <div style="width:350px;margin-left:50px;">
        <h3>Make your art gallery dynamic</h3>
        <p>Every visit to your gallery becomes a once-in-a-lifetime experience by rotating the art pieces exposed.</p>
      </div>

      <div style="width:350px;margin-left:50px;">
        <h3>Turn your venue into an attraction</h3>
        <p>From hotels to office buildings, all venues can become a place for art appreciation.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="row row-cols-1 row-cols-md-4 g-4" style="display:flex; justify-content:space-around;padding:20px 80px 80px;box-shadow:0px 10px 10px -15px #111;">
      <% @items.each do |item|%>
        <div class="col" >
          <div class="card-art">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="https://images.unsplash.com/flagged/photo-1572392640988-ba48d1a74457?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2160&q=80" class="d-block w-100" alt="Product's image">
                </div>
                <div class="carousel-item">
                  <img src="https://images.unsplash.com/flagged/photo-1572392640988-ba48d1a74457?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2160&q=80" class="d-block w-100" alt="Product's image">
                </div>
                <div class="carousel-item">
                  <img src="https://images.unsplash.com/flagged/photo-1572392640988-ba48d1a74457?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2160&q=80" class="d-block w-100" alt="Product's image">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              </div>
                <div class="card-body">
                  <p class="card-title"><%= item.name%></p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div class= "d-flex justify-content-between">
                    <p class="card-price">$ <%= item.value%></p>
                    <a href="/items/<%=item.id%>" class="btn btn-outline-secondary" style="border-radius:20px;padding:10px">Rent</a>
                  </div>
                </div>
            </div>
          </div>
      <%end%>
    </div>
  </div>

  <div class="container d-flex preview" style="margin-left:100px;">
    <div class="w-25 text-center">
      <h1>Rent your art</h1>
      <h2 style="margin-bottom:18px;font-size:26px;">Win up to</h2>
      <h2 style="margin-bottom:32px;font-size:32px;"><strong>658$</strong></h2>
      <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Preview Price</button>
        </form>
        <p style="margin-top:18px;font-size:10px;">This is an average of the product.</p>
    </div>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="width:600px">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://images.unsplash.com/photo-1604854574894-1be73ca43cb8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1065&q=80" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1570877901348-07076379b061?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1610991441081-1be1a3483f13?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=997&q=80" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1515405295579-ba7b45403062?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1596120717372-f31ed4704450?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1475&q=80" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      </div>
  </div>
</div>
