.container-details {
  margin-top: 80px;
}

.container-info {
  width: 700px;
  align-items: center;

  .item-info {
    padding-right: 25px;
    border-right: 2px solid grey;
  }
  .lessor-info {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.container-book {
  width: 300px;
  padding: 18px 26px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .input-date{
    margin-left: 15px;
  }

  .calculation-div {
    #reservation_pickup_date{
      border-radius: 20px;
    }
    #reservation_drop_date{
      border-radius: 20px;
    }
    .btn {
      border-radius: 40px;
      padding: 3px 80px;
    }

    .total-date {
      border-bottom: 1px solid grey;
    }
  }
}

  .btn-rent {
    display: grid;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 30px;
  }
