.container-details {
  margin-top: 15px;
}

.container-info {
  width: 700px;
  align-items: center;

  .item-info {
    padding-right: 25px;
    border-right: 2px solid grey;
  }
  .lessor-info {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.container-book {
  width: 270px;
  margin-top: 30px;
  margin: 10px;
  padding: 18px 26px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .text {
    color: grey;
  }
  .total-date {
    padding: 10px;
  }

  .price {
    margin-top: 10px;
    align-items: center;
  }
}

  .btn-rent {
    display: grid;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 30px;
  }
