// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "cards";
@import "footer";
@import "container_photos";
@import "title_bar";
@import "container_info";
@import "container_map";
@import "buttons";
