.div-for-item-bar {
  margin: 20px;
  margin-bottom: 30px;
}


#index-page{
  margin-left: 75px;
  margin-right: 75px;

  .div-for-item-bar {
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 45px;
    margin-top: 20px;
  }

  .row {
    .col {
      margin-bottom: 20px;
      padding-left: 0px;
      padding-right: 0px;
    }
    .price-btn {
      padding-right: 10px;

      p {
        padding-bottom: 0px;
        padding-top: 10px;
      }
      a {
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
      }
    }
  }

  ul {
    width: 100%;
    padding-left: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    width: calc(100% / 3);
    height: 20px;
    text-align: center;

    a {
      text-decoration: none;
      color:black;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: var(--chipsbar_chip-width);
      gap: var(--h-x-sf-jw);
    }
    a:hover {
      color: #1BC579;
    }
  }


}
